/* stylelint-disable selector-class-pattern */
.ReactCrop {
	cursor: default !important;
}

.ReactCrop__crop-selection {
	border: 0 solid #fff !important;
	border-radius: 50%;
	cursor: default !important;
}

.ReactCrop .ord-nw {
	width: 20px !important;
	height: 20px !important;
	margin-top: 0 !important;
	margin-left: 0 !important;
	background-color: transparent !important;
	border-top: 3px solid white !important;
	border-right: 0 solid white !important;
	border-bottom: 0 solid white !important;
	border-left: 3px solid white !important;
	cursor: pointer !important;
}

.ReactCrop .ord-sw {
	width: 20px !important;
	height: 20px !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	background-color: transparent !important;
	border-top: px 0 solid white !important;
	border-right: 0 solid white !important;
	border-bottom: 3px solid white !important;
	border-left: 3px solid white !important;
	cursor: pointer !important;
}

.ReactCrop .ord-ne {
	width: 20px !important;
	height: 20px !important;
	margin-top: 0 !important;
	margin-right: 0 !important;
	background-color: transparent !important;
	border-top: 3px solid white !important;
	border-right: 3px solid white !important;
	border-bottom: 0 solid white !important;
	border-left: 0 solid white !important;
	cursor: pointer !important;
}

.ReactCrop .ord-se {
	width: 20px !important;
	height: 20px !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	background-color: transparent !important;
	border-top: 0 solid white !important;
	border-right: 3px solid white !important;
	border-bottom: 3px solid white !important;
	border-left: 0 solid white !important;
	cursor: pointer !important;
}

.ReactCrop__drag-handle::after {
	width: 0 !important;
	height: 0 !important;
	border-top: 0 solid white !important;
	border-right: 0 solid white !important;
	border-bottom: 0 solid white !important;
	border-left: 0 solid white !important;
}
